body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Tinos';
  src: local('Tinos'), url(./fonts/Tinos-Regular.ttf) ;
}
@font-face {
  font-family: 'TinosBoldItalic';
  src: local('TinosBoldItalic'), url(./fonts/Tinos-BoldItalic.ttf) ;
}
@font-face {
  font-family: 'TinosBold';
  src: local('TinosBold'), url(./fonts/Tinos-Bold.ttf) ;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
